<!DOCTYPE html>
<html>
    <head>
        <title>Event Details Updated</title>
        <style>
            /* Color Variables */
            :root {
                /* Tailwind colors to match web app */
                --teal-500: #00bba7;
                --teal-600: #009689;
                --teal-700: #00786f;
                --teal-800: #005f5a;
                --teal-900: #0b4f4a;
                
                --gray-900: #101828;
                --gray-800: #1e2939;
                --gray-700: #3f3f46;
                --gray-600: #3f3f46;
                --gray-500: #6a7282;
                --gray-400: #99a1af;
                --gray-300: #d1d5dc;
                --gray-200: #e5e7eb;
                --gray-100: #f3f4f6;
                
            }

            body {
                font-family: sans-serif;
            }

            .rsvp-button {
                border-radius: 0.375rem;
                background-color: var(--teal-800);
                font-size: 0.875rem;
                color: white;
                padding: 0.65rem;
                min-width: 5rem;
                font-weight: 500;
                text-decoration: none;
                display: inline-block;
                border: none;
                cursor: pointer;
            }

            .rsvp-button:hover {
                background-color: var(--teal-700);
            }

            .cover-image {
                background-image: url("https://wallpaperbat.com/img/8748531-minimal-blue-wallpaper-4k-38402160.jpg");
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                height: 200px;
                width: 100%;
                margin-bottom: 1rem;
            }

            .main-container {
                max-width: 600px;
                margin: 0 auto;
                padding: 1rem;
                text-align: center;
            }

            .details-container {
                margin: 0 auto;
                width: 70%;
                
                text-align: left;
                color: var(--gray-500);
                font-size: 0.875rem;
                
                background-color: var(--gray-100);
                padding: 0.5rem 1rem;
                border-radius: 0.375rem;
            }

            .font-medium {
                font-weight: 500 !important;
            }
        </style>
    </head>
    <body>
        <div class="cover-image"></div>
    <div class="main-container">
        <h1>Quick Heads Up!</h1>
        <p>Hi <%= recipient.name %>,</p>
        <p>We just wanted to let you know that <%= event.creator.firstName %> has made some changes to the details of the following event: <%= event.title %>.</p>

        <div class="details-container">
            <p><%= customMessage %></p>
        </div>

        <p>Event Details:</p>
        
        <div class="details-container">
            <p>
                <span class="font-medium">Created By:</span> <%= event.creator.firstName %> <%= event.creator.lastName %>
            </p>
            <p>
                <span class="font-medium">When:</span> <%= startDate %> - <%= endDate %>        
            </p>
            <p>
                <span class="font-medium">Location:</span> <%= event.location %>
            </p>
        </div>
        <p>If you need to make any changes to your RSVP, you may do so below:</p>
        <a href="http://localhost:5173/events/invite/<%= event.slug %>?rsvpToken=<%= event.rsvpToken %>"><button class="rsvp-button">RSVP</button></a>
    </div>
    </body>
</html>